Repository pavloKozlov/food-retail-revenue: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn format, stylefmt, stylelint '**/*.scss' --fix

.lintstagedrc:

{
  "*.js": [
    "yarn lint --fix",
    "yarn format"
  ],
  "*.{json,md,yml}": [
    "yarn format"
  ],
  "**/*.scss": [
    "stylefmt",
    "stylelint '**/*.scss' --fix",
  ]
}

Clean up react-app assets
  src/App.scss
  src/App.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.ts
  src/logo.svg
  src/pages/dashboard/DashboardPage.tsx
  src/pages/dashboard/index.ts
Due: stylefmt, stylelint '**/*.scss' --fix

Add base table with invoice data
  package.json
  src/components/BaseTable/BaseTable.scss
  src/components/BaseTable/BaseTable.tsx
  src/components/BaseTable/index.ts
  src/components/Table/Table.tsx
  src/components/Table/index.ts
  src/pages/dashboard/DashboardPage.tsx
  yarn.lock
Due: yarn format, stylefmt, stylelint '**/*.scss' --fix

Add redux, redux-thunk
  .eslintrc
  .stylelintrc
  package.json
  src/index.tsx
  src/pages/dashboard/DashboardPage.tsx
  src/pages/dashboard/DashboardPageContainer.tsx
  src/pages/dashboard/index.ts
  src/store/invoices/actionTypes.ts
  src/store/invoices/actions.ts
  src/store/invoices/reducers.ts
  src/store/reducers.ts
  src/store/store.ts
  yarn.lock
Due: yarn format

Fix eslint path to check parameter
  package.json
  src/pages/dashboard/DashboardPage.tsx
  src/store/invoices/actionTypes.ts
  src/store/invoices/actions.ts
  src/store/invoices/reducers.ts
Due: yarn format

Add sorting invoices
  package.json
  src/pages/dashboard/DashboardPageContainer.tsx
  src/store/invoices/invoiceUtils.ts
  src/store/invoices/reducers.ts
  yarn.lock
Due: yarn format

Add InvoicesTable
  .lintstagedrc
  src/components/InvoicesTable/InvoicesTable.constants.ts
  src/components/InvoicesTable/InvoicesTable.tsx
  src/components/InvoicesTable/index.ts
  src/pages/dashboard/DashboardPage.tsx
Due: none

Add BestCustomersTable
  .lintstagedrc
  src/components/BestCustomersTable/BestCustomersTable.constants.ts
  src/components/BestCustomersTable/BestCustomersTable.tsx
  src/components/BestCustomersTable/index.ts
  src/components/InvoicesTable/InvoicesTable.constants.ts
  src/pages/dashboard/DashboardPage.tsx
  src/pages/dashboard/DashboardPageContainer.tsx
  src/store/customers/actionTypes.ts
  src/store/customers/actions.ts
  src/store/customers/reducers.ts
  src/store/invoices/actions.ts
  src/store/reducers.ts
Due: none
